.tweet {

  border-radius: 5px;
  border: 2px solid #eee;
  margin: 0 0 20px 0;
  background-color: white;

}

.tweet:hover {

  border: 2px solid #00a087;
  transition: 0.2s;

}

.tweet header {

  height: 60px;
  padding: 5px;
  background-color: #eee;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  opacity: 0.7;

}

.tweet:hover header{

  opacity: 1;
  transition: 0.2s;

}

.tweet header .avatar {

  border-radius: 6px;
  float: left;

}

.tweet header .name {

  margin-left: 10px;
  float: left;
  font-size: 26px;
  color: #244751;
  font-weight: bold;

}

.tweet header .username {

  float: right;
  padding: 5px;
  color: #244751;

}

.tweet article {

  padding: 15px;
  background-color: white;
  overflow-wrap: break-word;

}

.tweet footer {

  padding: 5px;
  border-top: 1px solid #eee;

}

.tweet footer i {

  float:right;
  margin: 0 2px;
  color: #00a087;
  visibility: hidden;
  cursor: pointer;

}

.tweet footer i:hover {

  transition: 0.3s;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);

}

.tweet:hover footer i{

  visibility: visible;

}

@media all and (max-width: 450px) {

  .tweet header .avatar{
    height: auto;
  }
  .tweet header .name {
    font-size: 1.2em;
  }
  .tweet header .username {
    float: left;
    padding: 0;
    margin-left: 10px;
  }
  .tweet article {
    word-break: break-all;
  }

}